<div class="container shadow p-3 mb-5 bg-white rounded">
  <div class="d-flex justify-content-between m-4">
    <h1 class="d-inline align-middle">Categorias</h1>
    <button type="button" (click)="openModal(template)" class="btn btn-light"><i class="fa fa-plus p-1"></i>Crear Nueva categoria</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th class="text-center" scope="col">Id</th>
        <th class="text-center" scope="col">Nombre</th>
        <th class="text-center" scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody> 
      <tr *ngFor="let categoria of categorias">
        <th class="text-center" scope="row">{{categoria.id}}</th>
        <td class="text-center">{{categoria.nombre}}</td>
        <td class="text-center">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-light btn-sm"><i class="fa fa-pencil"></i></button>
            <button type="button" (click)="borrarCategoria(categoria.id)" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Crea una nueva categoria</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #categoria = "ngForm" (ngSubmit) = "onCreateCategoria(categoria.value)" >
    <div class="input-group pt-2">
      <div class="input-group-prepend">
        <div class="input-group-text" id="btnGroupAddon2">Id</div>
      </div>
      <input type="text" name = "id" ngModel class="form-control" placeholder="Id unico de la categoria" aria-label="Input group example" aria-describedby="btnGroupAddon2">
    </div>
    <div class="input-group pt-2 pb-2">
      <div class="input-group-prepend">
        <div class="input-group-text" id="btnGroupAddon2">Nombre</div>
      </div>
      <input type="text" name = "nombre" ngModel class="form-control" placeholder="Nombre de la nueva categoria" aria-label="Input group example" aria-describedby="btnGroupAddon2">
    </div>
    <div class="d-flex justify-content-end">
      <input class="btn btn-primary p-2" (click)="modalRef.hide()" type = "submit" value = "Crear">
    </div>
    </form>
  </div>
</ng-template>